<h1 class='text-secondary text-center text-success'>PROYECTO FINAL BACKEND</h1>
<h3 class='text-secondary text-center mt-5'>Carla Ricciardi</h3>

<button class='btn btn-success'> <a href='/api/login' class='text-decoration-none text-reset'>Login </a> </button>
<button class='btn btn-success'> <a href='/api/signup' class='text-decoration-none text-reset'>Signup</a> </button>