<section class='p-4 bg-light'>
  <h1 class='text-secondary text-center text-success'>HASTA LUEGO {{user.username}}</h1>
  <button type='button' class='btn btn-success'><a href='/' class='text-decoration-none text-reset'>Volver al inicio</a></button>
</section>